<div class="card">
  <div class="card-header"><b>Add rights</b></div>
  <div class="card-body">
    <form (ngSubmit)="onAddRights()" [formGroup]="rightsForm">
      <div class="form-group mb-0">
        <label class="col-6 col-form-label">
          <b>label.name</b>
          <input formControlName="name" class="form-control" type="text" name="name" [ngClass]="rightsForm.controls.name.dirty ? (rightsForm.controls.name.valid ? 'is-valid' : 'is-invalid') : ''">
          <div class="invalid-feedback">Name must be at least 6 characters.</div>
        </label>
      </div>
    
      <div class="form-group">
        <label class="col-3 col-form-label">
          <b>label.level</b>
          <input formControlName="level" class="form-control" type="text" maxlength="2" name="level" [ngClass]="rightsForm.controls.level.dirty ? (rightsForm.controls.level.valid ? 'is-valid' : 'is-invalid') : ''">
          <div class="invalid-feedback">Level must be a digit.</div>
        </label>
      </div>
    
      <div class="form-group row">
        <div class="col-12 text-center">
          <button (click)="onAddRights()" type="submit" class="btn btn-primary">
            label.submit</button>
          <button type="reset" class="btn btn-default">
            label.reset</button>
        </div>
      </div>
    </form>
  </div>
</div>

