<div class="col-sm-3 col-lg-2 sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a [routerLink]="['/project']" class="nav-link">
        <i class="far fa-folder-open"></i> project add
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/report']" class="nav-link">
        <i class="far fa-folder-open"></i> report add
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/project/chart']" class="nav-link">
        <i class="fas fa-chart-bar"></i> project chart
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/report/management']" class="nav-link">
        <i class="fas fa-users"></i> report management
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/task']" class="nav-link">
        <i class="fas fa-list-ul"></i> task management
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/rights']" class="nav-link">
        <i class="fas fa-key"></i> rights management
      </a>
    </li>
  </ul>
</div>
