<div class="container">
  <div class="auth-form">
    <form class="login-form" (submit)="onLogin()" #formLogin="ngForm">
      <div class="auth-form-header">
        <h3>Login</h3>
      </div>
      <div class="auth-form-body">
        <div class="form-group">
          <label>Employee code</label>
          <input class="form-control" type="text" name="employeeCode" [(ngModel)]="user.employeeCode">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="password" name="password" [(ngModel)]="user.password">
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>
  </div>
  <!-- ./login form -->
</div>