<div class="container">
  <div class="auth-form">
    <form class="login-form" (submit)="onSubmit(formLogin)" #formLogin="ngForm">
      <div class="auth-form-header">
        <h3>Login</h3>
      </div>
      <div class="auth-form-body">
        <div class="form-group">
          <label>Employee code</label>
          <input ngModel #txtECode="ngModel" class="form-control {{txtECode.touched && txtECode.errors?.required ? 'is-invalid' : ''}}"
            type="text" name="employeeCode" required>
          <div class="invalid-feedback">
            Please enter Employee code.
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input ngModel #txtPassword="ngModel" class="form-control" type="password" name="password">
          <div class="invalid-feedback">
            Please enter Password.
          </div>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>
  </div>
  <!-- ./login form -->
</div>
