<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	
		<property name="hibernate.connection.datasource">java:comp/env/jdbc/DailyReport</property>

		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<property name="hibernate.search.autoregister_listeners">true</property>
		<mapping class="model.entity.Department" />
		<mapping class="model.entity.DepartmentDetail" />
		<mapping class="model.entity.Rights" />
		<mapping class="model.entity.Task" />
		<mapping class="model.entity.Project" />
		<mapping class="model.entity.Report" />
		<mapping class="model.entity.ReportDetail" />
		<mapping class="model.entity.User" />
	</session-factory>
</hibernate-configuration>
