<form>
  <div class="form-group mb-0">
    <label class="col-3 col-form-label"> label.taskCode
      <input type="text" maxlength="4" name="taskCode" [value]="task?.taskCode" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <label class="col-6 col-form-label"> label.name
      <input maxlength="50" name="name" [value]="task?.name" class="form-control">
    </label>
  </div>

  <div class="form-group row">
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary">label.submit</button>
      <button type="reset" class="btn btn-default">label.reset</button>
    </div>
  </div>
</form>
