<form (ngSubmit)="onUpdateProject()" [formGroup]="projectForm">
  <div class="form-group mb-0">
    <label class="col-3 col-form-label">
      <b> label.projectCode </b>
      <input formControlName="projectCode" class="form-control" type="text" maxlength="4" [value]="project?.projectCode" [ngClass]="projectForm.controls.projectCode.dirty ? (projectForm.controls.projectCode.valid ? 'is-valid' : 'is-invalid') : ''">
    </label>
  </div>

  <div class="form-group mb-0">
    <label for="name" class="col-6 col-form-label">
      <b> label.name </b>
      <input formControlName="name" class="form-control" type="text" maxlength="50" [value]="project?.name" [ngClass]="projectForm.controls.name.dirty ? (projectForm.controls.name.valid ? 'is-valid' : 'is-invalid') : ''">
    </label>
  </div>

  <div class="form-group mb-0">
    <label for="startAt" class="col-4 col-form-label">
      <b> label.startAt </b>
      <div class="input-group">
        <input formControlName="startAt" (click)="startAt.toggle()" class="form-control" [value]="project?.startAt" ngbDatepicker
          #startAt="ngbDatepicker" [ngClass]="projectForm.controls.startAt.dirty ? (projectForm.controls.startAt.valid ? 'is-valid' : 'is-invalid') : ''">
        <div class="input-group-append">
          <span class="input-group-text" (click)="startAt.toggle()">
            <i class="far fa-calendar-alt"></i>
          </span>
        </div>
      </div>
    </label>
  </div>

  <div class="form-group mb-0">
    <label for="finishAt" class="col-4 col-form-label">
      <b> label.finishAt </b>
      <div class="input-group">
        <input formControlName="finishAt" (click)="finishAt.toggle()" class="form-control" [value]="project?.finishAt" ngbDatepicker
          #finishAt="ngbDatepicker" [ngClass]="projectForm.controls.finishAt.dirty ? (projectForm.controls.finishAt.valid ? 'is-valid' : 'is-invalid') : ''">
        <div class="input-group-append" (click)="finishAt.toggle()">
          <span class="input-group-text">
            <i class="far fa-calendar-alt"></i>
          </span>
        </div>
      </div>
    </label>
  </div>

  <div class="form-group">
    <label class="col-6 col-form-label">
      <b> label.manager </b>
      <div class="input-group">
        <input type="text" class="form-control">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>
    </label>
  </div>

  <div class="form-group row">
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary">
        label.submit</button>
      <button type="reset" class="btn btn-default">
        label.reset</button>
    </div>
  </div>
</form>
