<ngb-alert *ngIf="message" [type]="type" (close)="message = null">{{ message }}</ngb-alert>
<div class="card">
  <div class="card-header">
    <b>Edit project</b>
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="projectForm">
      <div class="form-group mb-0">
        <label class="col-3 col-form-label">
          <b>Project code</b>
          <input formControlName="projectCode" class="form-control" type="text" maxlength="4" [ngClass]="projectForm.get('projectCode').dirty ? (projectForm.get('projectCode').valid ? 'is-valid' : 'is-invalid') : ''">
        </label>
      </div>

      <div class="form-group mb-0">
        <label for="name" class="col-6 col-form-label">
          <b>Name</b>
          <input formControlName="name" class="form-control" type="text" maxlength="50" [ngClass]="projectForm.get('name').dirty ? (projectForm.get('name').valid ? 'is-valid' : 'is-invalid') : ''">
        </label>
      </div>

      <div class="form-group mb-0">
        <label for="startAt" class="col-4 col-form-label">
          <b>Start at</b>
          <div class="input-group">
            <input formControlName="startAt" (click)="startAt.toggle()" class="form-control" ngbDatepicker #startAt="ngbDatepicker" [ngClass]="projectForm.get('startAt').dirty ? (projectForm.get('startAt').valid ? 'is-valid' : 'is-invalid') : ''">
            <div class="input-group-append">
              <span class="input-group-text" (click)="startAt.toggle()">
                <i class="far fa-calendar-alt"></i>
              </span>
            </div>
          </div>
        </label>
      </div>

      <div class="form-group mb-0">
        <label for="finishAt" class="col-4 col-form-label">
          <b>Finish at</b>
          <div class="input-group">
            <input formControlName="finishAt" (click)="finishAt.toggle()" class="form-control" type="text" ngbDatepicker #finishAt="ngbDatepicker"
              [ngClass]="projectForm.get('finishAt').dirty ? (projectForm.get('finishAt').valid ? 'is-valid' : 'is-invalid') : ''">
            <div class="input-group-append" (click)="finishAt.toggle()">
              <span class="input-group-text">
                <i class="far fa-calendar-alt"></i>
              </span>
            </div>
          </div>
        </label>
      </div>

      <div class="form-group">
        <label class="col-6 col-form-label">
          <b>Manager</b>
          <div class="input-group">
            <input type="text" class="form-control">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fas fa-search"></i>
              </span>
            </div>
          </div>
        </label>
      </div>

      <div class="form-group row">
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-primary" [disabled]="!projectForm.valid">Update</button>
          <button type="reset" class="btn btn-default">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
