<app-nav></app-nav>
<app-sidebar></app-sidebar>
<div class="col-sm-9 offset-sm-3 col-lg-10 offset-lg-2 pt-2 main">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <form id="submit-form" action="" method="POST">

            <div class="form-group mb-0">
              <label class="col-3 col-form-label"> label.taskCode
                <input id="taskCode" type="text" maxlength="4" name="taskCode" class="form-control">
              </label>
            </div>

            <div class="form-group">
              <label class="col-6 col-form-label"> label.name
                <input id="name" type="text" maxlength="50" name="name" class="form-control">
              </label>
            </div>

            <div class="form-group row">
              <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary">label.submit</button>
                <button type="reset" class="btn btn-default">label.reset</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-sidebar-right></app-sidebar-right>
    </div>
  </div>
</div>
<!-- ./create-task form -->
